* {
  box-sizing: border-box;
}

body {
  background-color: #F5F5F5;
  background-color: #fff;
}

._container {
  max-width: 630px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper h1 {
  text-align: center;
}

.content {
  height: 500px;
  margin-bottom: 20px;
  overflow: auto;
}

.content div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    margin-bottom: 10px;
    background: #F5F5F5;
}

.content h3{
  margin: 0 10px;
  width: 100%;
  max-width: 480px;
  word-wrap: break-word;
}

.content input[type="checkbox"]:checked + h3{
  text-decoration: line-through;
}

.content button {
  font-size: 0;
  border: none;
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: url('./delete.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}

.form textarea {
  width: 100%;
  resize: none;
  height: 70px;
  margin-bottom: 10px;
}

.form button {
  background: #2C65A7;
  border: 1px solid #2C65A7;
  border-radius: 2px;
  padding: 10px 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.form button:hover {
  color: #2C65A7;
  background-color: #fff;
}

